.hero {
    display: flex;
    margin-top: 137px;
    position: relative;
}

.hero-text h1 {
    color: #596C72;
    font-family: Montserrat,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

.hero-text p {
    color: #353535;
    font-family: Mulish,sans-serif;
    line-height: 21px;
}

.hero-text .hero-btn {
    color: #353535;
    font-family: Mulish,sans-serif;
    font-size: 12px;
    font-weight: 700;
    width: 147px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #353535;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.hero .hero-text .hero-btn:hover {
    background: #FFC01F;
    border: 1px solid #FFC01F;
}

.hero-img img {
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.25);
}