.header-bottom {
    padding: 2rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 7px 0px rgba(159, 159, 159, 0.25);
}

nav ul li {
    color: #353535;
    font-family: Montserrat,sans-serif;
    padding: 0 48px;
    cursor: pointer;
}

.bar-icon {
    display: none;
}

nav ul .link {
    text-decoration: none;
}

nav ul li:hover {
    color: #FFC01F;
}

.lang li {
    color: #353535;
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    padding: 0 5px;
    font-weight: 600;
    cursor: pointer;
}
.lang2{
    display: block;
}

.lang li:hover {
    color: #FFC01F;
}

.lang-img {
    margin-bottom: 10px;
}

.submenu li {
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    background-color: #fff;
    box-shadow: 0px 2px 7px 0px rgba(159, 159, 159, 0.25);
    border: 1px solid rgba(159, 159, 159, 0.25);

}

.has-submenu {
    position: relative;
}

.has-submenu .submenu {
    display: none;
    opacity: 0;
    position: absolute;
    left: -30px;
    top: 25px;
    z-index: 1;
}

.has-submenu:hover .submenu {
    display: block;
    opacity: 1;
}

.up img {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 99999;
    width: 45px;
    background-color: rgba(13, 5, 23, 0.083);
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(121, 121, 121, 0.25), 0px 1px 7px 0px rgba(194, 194, 194, 0.25) inset;
    transition: all .4s;
}

.up img:hover {
    background-color: #FFC01F;
}